@model Deck
@{
    ViewData["Title"] = "ShowHand";
}

<h1>ShowHand</h1>
<table>
    <tr>
        @foreach (Card card in Model.cards)
        {
            <th>
                <img src="@card.image" />

                @card.value
                @card.suit
                @card.code


            </th>
        }
    </tr>

</table>
